<header class="masthead">
	<div class="container d-flex h-100 align-items-center">
		<div class="mx-auto text-center">
			<h1 class="mx-auto text-uppercase">SlateChamp</h1>
			<div class="text-light">
				<h3>HOW IT WORKS</h3>
				<div class="ml-3" align="left">
					<p>- Players enter a league for a buy-in</p>
					<p>- Each player gets 500 credits</p>
					<p>- Credits can be wagered on games for a slate based on the league (for example, only NFL games on a given day)</p>
					<p>- Only straight, pre-game bets are allowed</p>
					<p>- The player with the most credits at the end of the slate wins the pool</p>
				</div>
			</div>
		</div>
	</div>
</header>
