<div class="container pt-5">

  <div class = "col" align = "center">
    <h2 class="page-header pt-2">Place Bet - Bet Slip</h2>
    <p>{{betType}} BET</p>
    <form (submit)="clickPlaceBet()">
      <ul class="list-group mb-2">
        <li class="list-group-item" *ngFor="let bet of bet">{{bet.betDetails}}</li>
      </ul>
      <div class="row p-0 m-0">
        <div class="form-group">
          <label for="amount">Bet Amount</label>
          <input autocomplete="off" type="number" style="width:150px" [(ngModel)]="betAmount" name="betAmount" class="form-control mr-2" id="amount">
        </div>
        <div class="form-group row ml-0" *ngIf="betAmount>0">
          <label class="mr-2">To Win:</label>
          <p class="m-0" *ngIf="odds>0">{{round(betAmount * odds/100)}}</p>
          <p class="m-0" *ngIf="odds<0">{{round(betAmount / (odds * -1) * 100)}}</p>
        </div>
      </div>
      <div *ngIf="clickedSubmit==false">
        <input type="submit" class="btn btn-primary" value="Place Bet">
      </div>
      <div *ngIf="clickedSubmit==true">
        <div class="loader"></div>
      </div>

    </form>
  </div>
</div>
