<div class="container pt-5 pr-0 pl-0">
<div class="row" align="center">
  <div *ngFor="let odd of odds" class="card col-sm-4 mt-3 pl-0 pr-0">
    <div class="row pl-0 pr-0 ml-0 mr-0">
      <div class="col" align="left">
        <p class="m-0 pl-3">{{odd.matchDate | slice:0:6}}</p>
      </div>
      <div class="col" align="right">
        <p class="m-0 pr-3">{{odd.matchTime}}</p>
      </div>
    </div>
    <div class ="row" style="height:100px" *ngIf="odd.sport==0">
      <div class ="col p-0 float-left">
        <img class="w-75 h-100" src="{{odd.awayImagePath}}" alt="Card image cap">
      </div>
      <h2 class="mt-4">@</h2>
      <div class ="col p-0 float-left">
        <img class="w-75 h-100" src="{{odd.homeImagePath}}" alt="Card image cap">
      </div>
    </div>
    <div class="card-header border-top pl-3 pr-3">
      <div align="left">
        <div class="row pl-3">{{odd.awayTeam}}</div>
        <div class="row border-bottom pb-1 pt-1">
          <div class="col">
            <label class="btn btn-primary btn-sm float-left"><input class="mr-2" type="checkbox" (click)="parlayCheckboxClick($event, odd, 'awayTeamML')">{{odd.awayTeamML}}</label>
          </div>
          <div class="col" align="center">
            <label class="btn btn-primary btn-sm"><input class="mr-2" type="checkbox" (click)="parlayCheckboxClick($event, odd, 'awayTeamRL')">{{odd.awayTeamRL}} {{odd.awayTeamRLOdds}}</label>
          </div>
          <div class="col">
            <label class="btn btn-primary btn-sm float-right"><input class="mr-2" type="checkbox" (click)="parlayCheckboxClick($event, odd, 'over')">o{{odd.totalNumber}}</label>
          </div>
        </div>
      </div>
      <div align="left">
        <div class="row pl-3">{{odd.homeTeam}}</div>
        <div class="row pb-1 pt-1">
          <div class="col">
            <label class="btn btn-primary btn-sm float-left"><input class="mr-2" type="checkbox" (click)="parlayCheckboxClick($event, odd, 'homeTeamML')">{{odd.homeTeamML}}</label>
          </div>
          <div class="col" align="center">
            <label class="btn btn-primary btn-sm"><input class="mr-2" type="checkbox" (click)="parlayCheckboxClick($event, odd, 'homeTeamRL')">{{odd.homeTeamRL}} {{odd.homeTeamRLOdds}}</label>
          </div>
          <div class="col">
            <label class="btn btn-primary btn-sm float-right"><input class="mr-2" type="checkbox" (click)="parlayCheckboxClick($event, odd, 'under')">u{{odd.totalNumber}}</label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="btn btn-success inside" *ngIf="parlay.length>1" (click)="placeBet()">Continue</div>
</div>
