<div class="container">
  <div>
    <h2 class="page-header">All Pending Bets</h2>
    <ul *ngFor="let pending of allPendings" class="list-group">
      <li class="list-group-item">Username: {{pending.userId}} Description: {{pending.description}}</li>
      <div class="row">
      <a class="btn btn-primary btn-sm text-light w-50"(click)="closePendingBet(pending, 'win')">Win</a>
      <a class="btn btn-danger btn-sm text-light w-50"(click)="closePendingBet(pending, 'loss')">Loss</a>
    </div>
    </ul>
  </div>
</div>
