<div class="container bg-dark m-0 p-0 text-light">
  <div class="row mt-5" align="center">
    <div class="col mt-2">
      <h3>Welcome</h3>


      <div class="col bg-dark block text-light p-0 m-0 h-100">

        <div class="row pt-2 border-bottom">
          <div class="col" align="center">
            <h5 *ngIf="showUsers==false" (click)="showHideUsers()">Show All Users: {{totalBalance}}</h5>
            <h5 *ngIf="showUsers" (click)="showHideUsers()">Hide All Users: {{totalBalance}}</h5>
          </div>
        </div>
        <div *ngIf="showUsers">
          <table class="table table-dark table-hover w-100">
            <thead>
              <tr>
                <th style="width:50%">Username</th>
                <th style="width:50%">Current Balance</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of users">
                <td>{{user.username}}</td>
                <td>{{user.currentBalance}}</td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="row border-bottom">
          <div class="col" align="center">
        <h5 class="mt-2" (click)="showHideCreateBet()">Create a Bet</h5>
      </div>
      </div>

        <form class="form-horizontal mt-3 mb-3" (submit)="createBet()" *ngIf="showCreateBet">
          <div class="form-group w-75">
            <input type="text" [(ngModel)]="details" name="details" class="form-control" id="details" placeholder="Enter Bet Details">
          </div>
          <div class="form-group w-75">
            <input type="number" [(ngModel)]="odds" name="odds" class="form-control" id="odds" placeholder="Enter Bet Odds">
          </div>
          <div class="form-group w-75">
            <input type="text" [(ngModel)]="sport" name="sport" class="form-control" id="sport" placeholder="Sport">
          </div>
          <div class="form-group w-75">
            <input type="text" [(ngModel)]="type" name="type" class="form-control" id="type" placeholder="Bet Type">
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-default">Create</button>
            </div>
          </div>
        </form>

        <div class="row pt-2 border-bottom">
          <div class="col" align="center">
            <h5 *ngIf="showCustom==false" (click)="showHideCustom()">Show All Custom Bets</h5>
            <h5 *ngIf="showCustom" (click)="showHideCustom()">Hide All Custom Bets</h5>
          </div>
        </div>
        <div *ngIf="showCustom">
          <table class="table table-dark table-hover w-100">
            <thead>
              <tr>
                <th style="width:75%">Description</th>
                <th style="width:25%">Remove</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let prop of propArray">
                <td class="smallFont">{{prop.sport.toUpperCase()}} - {{prop.details}} {{prop.odds}}</td>
                <td (click)="expireCustomBet(prop)">Remove</td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>
    </div>
  </div>
</div>

<!-- <div class="btn btn-success btn-lg inside mb-2" (click)="clickMethod()">Clear Balances</div> -->
