<div class="container mt-5 pt-2">
  <div *ngIf="user">
    <h2 class="page-header">Profile</h2>
    <ul class="list-group">
      <li class="list-group-item">Username: {{user.username}}</li>
      <li class="list-group-item">Current Balance: {{user.currentBalance}}</li>
      <li class="list-group-item">Available Balance: {{user.currentBalance + user.credit}}</li>
    </ul>
    <h2 class="pt-2">Pending Bets</h2>
      <ul class="list-group" *ngFor="let pendingBet of pendingBets">
        <li class="list-group-item">{{closedBet.gameDate}} {{closedBet.gameTime}}:{{pendingBet.description}} Risking {{pendingBet.betAmount}} to win {{pendingBet.winAmount}}</li>
      </ul>
      <h2 class="mt-4">Bet History</h2>
        <div *ngFor="let closedBet of closedBets">
          <p *ngIf="closedBet.status === 'win'">{{closedBet.gameDate}} {{closedBet.gameTime}}: {{closedBet.description}} Result: {{closedBet.status}} Amount: +{{closedBet.winAmount}}</p>
          <p *ngIf="closedBet.status === 'loss'">{{closedBet.description}} Result: {{closedBet.status}} Amount: -{{closedBet.betAmount}}</p>
        </div>
  </div>
</div>
