<div class="container mt-5 pt-2 pl-0 pr-0">
  <div *ngIf="user">

    <div class="row border-bottom">
      <div class="col" align="center">
        <h3>Welcome back, {{user.name}}!</h3>
      </div>
    </div>

    <div class="row mt-2">
      <div class="col border-bottom" align="center">
        <p>Current Balance:  {{user.currentBalance}}</p>
      </div>
    </div>

    <div class="row mt-2">
      <div class="col border-bottom" align="center">
        <p>Available Balance:  {{user.credit + user.currentBalance}}</p>
      </div>
    </div>

    <div class="row bg-dark m-0 p-0 w-100 text-light">
      
    </div>

  </div>
  <div *ngIf="!user">Error Loading Profile</div>
</div>
