<div class="container pt-5">
	<div class ="jumbotron text-center">
		<h1>Stoolie Bets</h1>
		<p class="lead">A betting site made by the people, for the people.</p>
		<div>
			<button type="button" [routerLink]="['/register']" class="btn btn-primary">Register</button>
			<button type="button" [routerLink]="['/login']" class="btn btn-secondary">Login</button>
		</div>
	</div>

	<div class="row" align="center">
		<div class="col-md-4 mb-3">
			<h3>View Pending Bets</h3>
			<button type="button" [routerLink]="['/dashboard']" class="btn btn-primary">Pendings</button>
		</div>
		<div class="col-md-4 mb-3">
			<h3>MLB Bets</h3>
			<button type="button" [routerLink]="['/menu']" class="btn btn-primary">MLB</button>
		</div>
		<div class="col-md-4 mb-3">
			<h3>MLB Bets</h3>
			<button type="button" [routerLink]="['/menu']" class="btn btn-primary">Register</button>
		</div>
	</div>
</div>
