<header class="masthead">
	<div class="container d-flex h-100 align-items-center">
		<div class="mx-auto text-center">
			<h1 class="mx-auto text-uppercase">Action+</h1>
			<form class="form-inline d-flex">
				<input type="username" class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0" id="username" placeholder="Username">
				<input type="password" class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0" id="password" placeholder="Password">
				<button type="submit" class="btn btn-primary mx-auto">Login</button>
			</form>
		</div>
	</div>
</header>
