<div class ="jumbotron text-center">
	<h1>Sal's Multi-Use MEAN Site.</h1>
	<p class="lead">Create an Account or Login to order online!</p>
	<div>
		<button type="button" [routerLink]="['/register']" class="btn btn-primary">Register</button>
		<button type="button" [routerLink]="['/login']" class="btn btn-secondary">Login</button>
	</div>
</div>

<div class="row">
	<div class="col-md-4">
		<h3>JWT Authentication</h3>
		<p>JWT Authentication for login and access control</p>
	</div>
	<div class="col-md-4">
		<h3>Blockchain Plug</h3>
		<p>Use Truffle blockchain framework to incorporate some sort of ethereum dApp.</p>
	</div>
	<div class="col-md-4">
		<h3>Machine Learning</h3>
		<p>Incorporate some Machine Learning.</p>
	</div>
</div>

<div>
	<h3>Available Usernames</h3>
	<ul>
	<li *ngFor="let user of users" (click)="test(user)">
      {{ user.username }}
    </li>
	</ul>
</div>
