<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Major League Action</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nb" aria-controls="nb" aria-expanded="false">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="nb">
    <ul class="navbar-nav mr-auto">
      <li><a class="nav-link" data-target="#nb" (click)="route('menu')" [routerLink]="['/menu']">MLB</a></li>
      <li><a class="nav-link" data-target="#nb" (click)="route('mlblive')" [routerLink]="['/mlblive']">MLB Live Bets</a></li>
    </ul>
    <ul class="navbar-nav mr-right">
      <li><a *ngIf="authService.loggedIn()" class="nav-link" data-target="#nb" (click)="route('profile')" [routerLink]="['/profile']">Profile</a></li>
      <li><a *ngIf="authService.loggedIn()" class="nav-link" data-target="#nb" (click)="route('admin')" [routerLink]="['/admin']">Admin</a></li>
      <li><a *ngIf="!authService.loggedIn()" class="nav-link" data-target="#nb" (click)="route('login')" [routerLink]="['/login']">Login</a></li>
      <li><a *ngIf="!authService.loggedIn()" class="nav-link" data-target="#nb" (click)="route('register')" [routerLink]="['/register']">Register</a></li>
      <li><a *ngIf="authService.loggedIn()" class="nav-link" data-target="#nb" (click)="onLogoutClick()">Logout</a></li>
    </ul>
  </div>
</nav>
