<div class="row mt-3" align="center">
<!-- <div *ngFor="let action of actions" class="card mb-3 ml-3" style="width: 22rem;"> -->
<div *ngFor="let action of actions" class="card col-sm-4 mb-3 p-0">
<div class = "row" style="height:100px">
  <div class = "col">
    <img class="w-75 h-100" src="{{action.awayImagePath}}" alt="Card image cap">
  </div>
  <div class = "col">
    <img class="w-75 h-100" src="{{action.homeImagePath}}" alt="Card image cap">
  </div>
</div>
  <div class="card-body">
    <h6 class="card-title">{{action.details}}</h6>
    <div class="row">
      <div class="col" align="left">
        <p>{{action.matchDate}}</p>
      </div>
      <div class="col" align="right">
        <p>{{action.matchTime}}</p>
      </div>
    </div>
    <div align="left">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">{{action.homeTeam}}
        <a class="btn-sm btn-primary"(click)="comingSoon(action)">{{action.homeTeamML}}</a>
      </li>
      <li class="list-group-item">{{action.awayTeam}}
        <a class="btn-sm btn-primary"(click)="comingSoon(action)">{{action.awayTeamML}}</a>
      </li>
    </ul>
      <!-- <p class="card-text">{{action.homeTeam}}  {{action.homeTeamML}}</p>
      <p class="card-text">{{action.awayTeam}}  {{action.awayTeamML}}</p>
      <a class="btn btn-primary" (click)="comingSoon(action)">Place Bet</a> -->
    </div>
  </div>
</div>
</div>
