<div class="container pt-5">
  <div class="row">

    <div class="card col-sm-4 pl-0 pr-0">
      <img class="card-img-top" src="/assets/images/mlb.png">
      <div class="card-header">
        <div class="row">
          <div class="col" align="center">
            <a class="btn btn-sm btn-secondary btn-block text-light" (click)="navigate(0)">Game Odds</a>
          </div>
          <div class="col" align="center">
            <a class="btn btn-sm btn-secondary btn-block text-light" (click)="moreOdds(16,225)">More Odds</a>
          </div>
          <div class="col" align="center">
            <a class="btn btn-sm btn-secondary btn-block text-light" (click)="parlay(0)">Parlay</a>
          </div>
        </div>
      </div>
    </div>

    <div class="card col-sm-4 pl-0 pr-0">
      <img class="card-img-top" src="/assets/images/nfl.png">
      <div class="card-header">
        <div class="row">
          <div class="col" align="center">
            <a class="btn btn-secondary btn-block text-light" (click)="navigate(4)">Game Odds</a>
          </div>
          <div class="col" align="center">
            <a class="btn btn-secondary btn-block text-light" (click)="moreOdds(12,271)">More Odds</a>
          </div>
          <div class="col" align="center">
            <a class="btn btn-secondary btn-block text-light" (click)="parlay(4)">Parlay</a>
          </div>
        </div>
      </div>
    </div>

    <div class="card col-sm-4 pl-0 pr-0">
      <img class="card-img-top" src="/assets/images/ncaaf.jpg">
      <div class="card-header">
        <div class="row">
          <div class="col" align="center">
            <a class="btn btn-secondary btn-block text-light" (click)="navigate(3)">Game Odds</a>
          </div>
          <div class="col" align="center">
            <a class="btn btn-secondary btn-block text-light" (click)="moreOdds(12,474)">More Odds</a>
          </div>
          <div class="col" align="center">
            <a class="btn btn-secondary btn-block text-light" (click)="parlay(3)">Parlay</a>
          </div>
        </div>
      </div>
    </div>

    <div class="card col-sm-4 pl-0 pr-0">
      <img class="card-img-top" src="/assets/images/soccer.jpg">
      <div class="card-header">
        <div class="col mb-1" align="center">
          <a class="btn btn-secondary btn-block text-light" (click)="clickShowSoccer()" *ngIf="!showTennis">Show Soccer Leagues</a>
        </div>
        <div class="col mb-1" align="center">
          <a class="btn btn-secondary btn-block text-light" (click)="clickShowSoccer()" *ngIf="showTennis">Hide Soccer Leagues</a>
        </div>
        <div class="row mb-1" *ngFor="let soccer of soccer">
          <div class="col" align="center" *ngIf="showSoccer">
            <a class="btn btn-secondary btn-block text-light" (click)="moreOdds(1,soccer.id)">{{soccer.league}}</a>
          </div>
        </div>
      </div>
    </div>

    <div class="card col-sm-4 pl-0 pr-0">
      <img class="card-img-top" src="/assets/images/ufc.jpg">
      <div class="card-header">
        <div class="row">
          <div class="col" align="center">
            <a class="btn btn-secondary btn-block text-light" (click)="navigate(11)">Fights</a>
          </div>
        </div>
      </div>
    </div>

    <div class="card col-sm-4 pl-0 pr-0">
      <img class="card-img-top" src="/assets/images/tennis.jpg">
      <div class="card-header">
        <div class="col mb-1" align="center">
          <a class="btn btn-secondary btn-block text-light" (click)="clickShowTennis()" *ngIf="!showTennis">Show Tennis Events</a>
        </div>
        <div class="col mb-1" align="center">
          <a class="btn btn-secondary btn-block text-light" (click)="clickShowTennis()" *ngIf="showTennis">Hide Tennis Events</a>
        </div>
        <div class="row mb-1" *ngFor="let tennis of tennis">
          <div class="col" align="center" *ngIf="showTennis">
            <a class="btn btn-secondary btn-block text-light" (click)="moreOdds(13, tennis.id)">{{tennis.league}}</a>
          </div>
        </div>
      </div>
    </div>

    <div class="card col-sm-4 pl-0 pr-0">
      <img class="card-img-top" src="/assets/images/golf.png">
      <div class="card-header">
        <div class="row">
          <div class="col" align="center">
            <a class="btn btn-secondary btn-block text-light" (click)="navigate(21)">Tournament</a>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
